<!DOCTYPE html>

<html>
    {% block header %}
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" type="image/gif" href="../static/imagenes/animated_favicon1.gif">
        <title>Inicio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/estilos_proyecto.css" type="text/css">
    </head>
    {% endblock header %}
    <body>
        {% block content %}
        {% endblock content %}
    </body>
    {% block footer %}
    <footer id="solo-login">
        <div id="atribucion" style="font-size: 12px">2021 - Informatorio - Comisión 3 - Grupo 1 - Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
        </div>       
    </footer>
    {% endblock footer %}
</html>