<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        
        <title>Inicio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/estilos_proyecto.css" type="text/css">
    </head>
    
    <body>
        <nav id="topbar">
            <div>
                {{ user.username }}
                <img  src="../static/imagenes/auto-limpio (1).png" style="width: 60px;">
            </div>
            <div>
                <span id="brillo-total">Brillo Total</span>
            </div>
            
            <div id="miperfil">
                <a href="{% url 'miperfil' %}">MI PERFIL</a>
                <a href="{% url 'login' %}">Cerrar Sesion</a>
            </div>
        </nav> 

        <div class="contenedor-inicio">
            <a href="{% url 'misturnos' %}" id="misturnos" class="inicio-item">
                <!-- <div id="misturnos" class="inicio-item"> -->
                    <div>
                        <img src="../static/imagenes/impatient (1).png" style="width: 200px;">
                        <h3>MIS TURNOS</h3>
                    </div>
                    
                <!-- </div> -->
            </a>
            <a href="{% url 'solicitarturno' %}"  class="inicio-item">
            <!-- <div class="inicio-item"> -->
                <div>
                    <img src="../static/imagenes/calendar.png" style="width: 200px;">
                    <h3>SOLICITAR TURNO</h3>
                </div>
            <!-- </div> -->
            </a>
        </div>
        



    </body>
        
    <footer>
        <div id="atribucion" style="font-size: 12px">2021 - Informatorio - Comisión 3 - Grupo 1 - Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
        </div>
        
    </footer>

</html>