{% extends "users/base.html" %}
{% block content %}
        <nav id="topbar">
            <div id="index-logos">
                <img  src="../static/imagenes/auto-limpio (1).png" style="width: 60px; margin-left:5px;">
                <span id="brillo-total">Brillo Total</span>
                <div id="usuario">
                    {{ user }}
                </div>
            </div>      
            <div id="miperfil">
                <a href="{% url 'miperfil' %}">MI PERFIL</a>
                <a href="{% url 'logout' %}">CERRAR SESION</a>
            </div>
        </nav> 
        <div class="contenedor-inicio">
            <a href="{% url 'misturnos' %}" id="misturnos" class="inicio-item">
                <!-- <div id="misturnos" class="inicio-item"> -->
                    <div>
                        <img src="../static/imagenes/impatient (1).png" style="width: 200px;">
                        <h3>MIS TURNOS</h3>
                    </div>              
                <!-- </div> -->
            </a>
            <a href="{% url 'solicitarturno' %}"  class="inicio-item">
            <!-- <div class="inicio-item"> -->
                <div>
                    <img src="../static/imagenes/calendar.png" style="width: 200px;">
                    <h3>SOLICITAR TURNO</h3>
                </div>
            <!-- </div> -->
            </a>
        </div>
        {% endblock content %}     