{% extends "users/base.html" %}
{% block content %}    
            <nav id="topbar-login">
                <img  src="../static/imagenes/auto-limpio (1).png" style="width: 60px; margin-left: 5px;">
                <span id="brillo-total">Brillo Total</span>
            </nav>  
            <div id="contenedor">
                
                <header>
                   <h3>Iniciar Sesión</h3>
                </header>
                <div id="formulario">
                    {% if error %}
                    <p style='color:red'>
                        {{ error }}
                    </p> 
                    {% endif %}
                    <form method="post">   
                        {% csrf_token %}
                        <label>Usuario:</label></br>
                        <input type="text" name="username" placeholder="usuario" required>
                        </br>
                        <label>Contraseña:</label></br>
                        <input type="password" name="password" placeholder="contraseña" required minlength="8">
                        </br>
                        <div id="boton">
                            <input class="boton-enviar" type="submit" name="ingresar" value="Ingresar">
                        </div>
                        <div id="registrar">
                            <h3>¿No tenés cuenta?</h3></br>
                            <a id="boton-registrarse" href="{% url 'registrar' %}">Registrarse</a>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock content %} 

