{% extends "users/base.html" %}
{% block content %}
<nav id="topbar-login">
    <img  src="../static/imagenes/auto-limpio (1).png" style="width: 60px; margin-left: 5px;">
    <span id="brillo-total">Brillo Total</span>
</nav>  
<div id="contenedor-registro">
    <header>
        <h3>Mis datos</h3>
     </header>
    <div id="formulario">
        {% if error %} 
            <p style="color:red">{{error}}</p>
        {% endif %}
    <form method="POST">
        {% csrf_token %}
            <label>Nombre:</label></br>
            <input type="text" name="nombre" value="{{ user.first_name }}" placeholder="nombre" ></br>
            <label>Apellido:</label></br>
            <input type="text" name="apellido" value="{{ user.last_name }}" placeholder="apellido"></br>
            <label>Teléfono:</label></br>
            <input type="number" name="telefono" value="{{ telefono }}" placeholder="teléfono"></br>
            <label>E-mail:</label></br>
            <input type="email" name="email" value="{{ user.email }}" placeholder="e-mail">
            </br>
            <label>Usuario:</label></br>
            <input type="text" name="usuario" value="{{ user.username }}" placeholder="usuario" readonly></br>
            <label>Contraseña:</label></br>
            <input type="password" name="password" placeholder="contraseña" minlength="8">
        <div id="boton">
            <a class="btn-cancell" href="{% url 'index' %}">Cancelar</a>
            <input class="boton-enviar" type="submit" name="ingresar" value="Guardar Cambios">
        </div>
        
    </form>
</div>
</div>
{% endblock content %}