{% extends "users/base.html" %}
{% block header %}
<!DOCTYPE html>

<html>
    <head>
        <link rel="shortcut icon" href="favicon.ico">
<link rel="icon" type="image/gif" href="../static/imagenes/animated_favicon1.gif">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mis Turnos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/estilos_proyecto.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/fonts/style.css" type="text/css">
    </head>
{% endblock header %}
{% block content %}   

        <nav id="topbar">
            <div id="index-logos">

                <img  src="../static/imagenes/auto-limpio (1).png" style="width: 60px;">

                <span id="brillo-total">Brillo Total</span>
                <div id="usuario">
                    {{ user }}
                </div>
            </div>
            
            <div id="menu">
                <span><a href="{% url 'index' %}">INICIO</a></span>
                <span class="activo"><a href="{% url 'misturnos' %}">MIS TURNOS</a></span>
                <span><a href="{% url 'solicitarturno' %}">SOLICITAR TURNO</a></span>
                <span><a href="{% url 'miperfil' %}">MI PERFIL</a></span>
                <span><a href="{% url 'logout' %}">CERRAR SESION</a></span>
            </div>
                        
        </nav> 

        <div id="mis-turnos">
            <table class="table table-hover">
                <tr>
                    <th>Tipo de Vehiculo</th>
                    <th>Lavado</th>
                    <th>Patente</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th class="botones-turno">Cancelar/Modificar</th>
                </tr>
                {% for turno in turnos %}
                <tr>
                    <td>{{ turno.vehiculo.tipo_vehiculo }}</td>
                    <td>{{ turno.lavado.tipo_lavado }}</td>
                    <td>{{ turno.vehiculo.matricula }}</td>
                    <td>{{ turno.fecha }}</td>
                    <td>{{ turno.horario }}</td>
                    <td id="opciones-turno">
                        <button class="cancel-edit" type="submit"><span class="icon-bin"></span></button>
                        <a href="{% url 'modificarturno' %}"><button class="cancel-edit"><span class="icon-pen"></span></button></a>
                    </td>    
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
    {% endblock content %}    

</html>