{% extends "users/base.html" %}
{% block content %}   

        <nav id="topbar">
            <div id="index-logos">

                <img  src="../static/imagenes/auto-limpio (1).png" style="width: 60px;">

                <span id="brillo-total">Brillo Total</span>
                <div id="usuario">
                    {{ user }}
                </div>
            </div>
            
            <div id="menu">
                <span><a href="{% url 'index' %}">INICIO</a></span>
                <span class="activo"><a href="{% url 'misturnos' %}">MIS TURNOS</a></span>
                <span><a href="{% url 'solicitarturno' %}">SOLICITAR TURNO</a></span>
                <span><a href="{% url 'miperfil' %}">MI PERFIL</a></span>
                <span><a href="{% url 'logout' %}">CERRAR SESION</a></span>
            </div>
                        
        </nav> 

        <div id="mis-turnos">
            <table class="table table-hover">
                <tr>
                    <th>Tipo de Vehiculo</th>
                    <th>Lavado</th>
                    <th>Patente</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th class="botones-turno">Cancelar/Modificar</th>
                </tr>
                {% for turno in turnos %}
                <tr>
                    <td>{{ turno.vehiculo.tipo_vehiculo }}</td>
                    <td>{{ turno.lavado.tipo_lavado }}</td>
                    <td>{{ turno.vehiculo.matricula }}</td>
                    <td>{{ turno.fecha }}</td>
                    <td>{{ turno.horario }}</td>
                    <td id="opciones-turno">
                        <button class="cancel-edit" type="submit"><span class="icon-bin"></span></button>
                        <a href="{% url 'modificarturno' %}"><button class="cancel-edit"><span class="icon-pen"></span></button></a>
                    </td>    
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
    {% endblock content %}    

</html>