{% extends "users/base.html" %}
{% block content %}

<nav id="topbar">
    <div id="index-logos">
        <img  src="../../static/imagenes/auto-limpio (1).png" style="width: 60px;">          
        <span id="brillo-total">Brillo Total</span>
        <div id="usuario">
            {{ user }}
        </div>
    </div>         
    <div id="menu">
        <span><a href="{% url 'index' %}">INICIO</a></span>
        <span><a href="{% url 'misturnos' %}">MIS TURNOS</a></span>
        <span><a href="{% url 'solicitarturno' %}">SOLICITAR TURNO</a></span>
        <span><a href="{% url 'miperfil' %}">MI PERFIL</a></span>
        <span><a href="{% url 'logout' %}">CERRAR SESION</a></span>
    </div>                     
</nav> 
<div id="contenedor-registro">
    <div id="formulario">
        <h3>Modificar turno: </h3>
        <form method="POST">
            {% csrf_token %}
            <label>Tipo de Lavado</label></br>
            <select name="lavado">
                <option selected disabled>Seleccione tipo de lavado</option>
                {% for key, value in tipos_de_lavados %}
                <option value={{key}}>{{value}}</option>
                {% endfor %}
            </select></br>
            <label>Matricula:</label></br>
            <input type="text" name="matricula" id="matricula" placeholder="matricula" required onblur="comprobarMatricula()"></br>
            <input type="text" name="id" id="id" value="{{ turno.id }}" style="display:none" >
            <div class="ocultar"  style="display:none">
            <label>Tipo de Vehiculo:</label></br>
            <select name="vehiculo">
                <option selected disabled>Seleccione tipo de vehiculo</option>
                {% for key, value in tipo_de_vehiculos %}
                <option value={{key}}>{{value}}</option>
                {% endfor %}
            </select></br>
            <label>Marca:</label></br>
            <input type="text" name="marca" placeholder="marca">
            </br>
            <label>Modelo:</label></br>
            <input type="text" name="modelo" placeholder="modelo" >
            </br>

            </div>
            
            <label>Fecha:</label></br>
            <input type="date" name="fecha" required >
            </br>
            <label>Horario:</label></br>
            <input type="time" name="horario">
            </br>
            
            <div id="boton">
                <a class="btn-cancell" href="{% url 'index' %}">Cancelar</a>
                <input class="boton-enviar" type="submit" name="turno" value="Aceptar">
            </div>
            
        </form>
    </div>
</div>
<script type="text/javascript"> 
    function comprobarMatricula() {
        var data = {matricula: $('#matricula').val()}
        $.ajax({
            url : "{% url 'check_matricula' %}",
            type: "POST",
            data : data,
            success: function(data, textStatus, jqXHR)
            {
                if (data=="No existe"){
                    $(".ocultar").show("slow")
                }
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
         
            }
        });
    }
    </script>
{% endblock content %}
