<!DOCTYPE html>

<html>
    <head>
        <link rel="shortcut icon" href="favicon.ico">
<link rel="icon" type="image/gif" href="../static/imagenes/animated_favicon1.gif">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Modificar Turno</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/estilos_proyecto.css" type="text/css">
    </head>
    
    <body>
        <nav id="topbar">
            <div>
                <img  src="../static/imagenes/auto-limpio (1).png" style="width: 60px;">
            </div>
            <div>
                <span id="brillo-total">Brillo Total</span>
            </div>
            
            <div id="menu">
                <span><a href="{% url 'index' %}">INICIO</a></span>
                <span class="activo"><a href="{% url 'misturnos' %}">MIS TURNOS</a></span>
                <span ><a href="{% url 'solicitarturno' %}">SOLICITAR TURNO</a></span>
                <span><a href="{% url 'miperfil' %}">MI PERFIL</a></span>
                <span><a href="{% url 'login' %}">Cerrar Sesion</a></span>
            </div>
                        
        </nav> 
        <div id="contenedor-registro">
            <div id="formulario">
                <h3>Modificar turno: </h3>
                <form>
                    <label>Tipo de Vehiculo:</label></br>
                    <select>
                        <option selected disabled>Seleccione tipo de vehiculo</option>
                        <option>Auto</option>
                        <option>Camioneta</option>
                        <option>Moto</option>
                    </select></br>
                    <label>Tipo de Lavado</label></br>
                    <select name="lavado">
                        <option selected disabled>Seleccione tipo de lavado</option>
                        <option>Interior</option>
                        <option>Exterior</option>
                        <option>Completo</option>
                    </select></br>
                    <label>Matricula:</label></br>
                    <input type="text" name="matricula" placeholder="matricula" ></br>
                    <label>Fecha:</label></br>
                    <input type="date" name="fecha"  disabled>
                    </br>
                    <label>Horario:</label></br>
                    <input disabled>
                    </br>

                    <div id="boton">
                        <a class="btn-cancell" href="{% url 'misturnos' %}">Cancelar</a>
                        <input class="boton-enviar" type="submit" name="turno" value="Aceptar">
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
    <footer>
        <div id="atribucion" style="font-size: 12px">2021 - Informatorio - Comisión 3 - Grupo 1 - Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
        </div>
        
    </footer>

</html>
    