{% extends "users/base.html" %}
{% block content %}
        <nav id="topbar-login">
            <img  src="../static/imagenes/auto-limpio (1).png" style="width: 60px;">
            <span id="brillo-total">Brillo Total</span>
        </nav>  
        <div id="contenedor-registro">
            <header>
                <h3>Regístrate</h3>
             </header>
        <div id="formulario">
            <form method="POST">
                {% csrf_token %}
                <label>Nombre:</label></br>
                <input type="text" name="nombre" placeholder="nombre" required></br>
                <label>Apellido:</label></br>
                <input type="text" name="apellido" placeholder="apellido" required></br>
                <label>Teléfono:</label></br>
                <input type="number" name="telefono" placeholder="teléfono" required></br>
                <label>E-mail:</label></br>
                <input type="email" name="email" placeholder="e-mail" required>
                </br>
                <label>Usuario:</label></br>
                <input type="text" name="usuario" placeholder="usuario" required></br>
                <label>Contraseña:</label></br>
                <input type="password" name="password" placeholder="contraseña" required minlength="8">
                </br>
                <div id="boton">
                    <a class="btn-cancell" href="{% url 'login' %}">Cancelar</a>
                    <input class="boton-enviar" type="submit" name="ingresar" value="Aceptar">
                </div>
                
            </div>
        </div>

    </body>
    {% endblock content %} 
    {% block footer %}
    <footer>
        <div id="atribucion" style="font-size: 12px">2021 - Informatorio - Comisión 3 - Grupo 1 - Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
        </div>
        
    </footer>
    {% endblock footer %}


