<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Solicitar Turno</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/estilos_proyecto.css" type="text/css">
    </head>
    
    <body>
        <nav id="topbar">
            <div>
                <img  src="../static/imagenes/auto-limpio (1).png" style="width: 60px;">
            </div>
            <div>
                <span id="brillo-total">Brillo Total</span>
            </div>
            
            <div id="menu">
                <span><a href="index.html">INICIO</a></span>
                <span><a href="misturnos.html">MIS TURNOS</a></span>
                <span class="activo"><a href="solicitarturno.html">SOLICITAR TURNO</a></span>
                <span><a href="miperfil.html">MI PERFIL</a></span>
                <span><a href="login.html">Cerrar Sesion</a></span>
            </div>
                        
        </nav> 
        <div id="contenedor-registro">
            <div id="formulario">
                <h3>Solicitar turno: </h3>
                <form method="POST">
                    <label>Tipo de Vehiculo:</label></br>
                    <select>
                        <option selected disabled>Seleccione tipo de vehiculo</option>
                        <option>Auto</option>
                        <option>Camioneta</option>
                        <option>Moto</option>
                    </select></br>
                    <label>Matricula:</label></br>
                    <input type="text" name="matricula" placeholder="matricula" required></br>
                    <label>Metodo de pago:</label></br>
                    <input type="text" name="email" placeholder="metodo de pago" required>
                    </br>
                    <label>Fecha:</label></br>
                    <input type="date" name="fecha"  required>
                    </br>
                    <label>Horario:</label></br>
                    <input>
                    </br>

                    <div id="boton">
                        <a class="btn-cancell" href="index.html">Cancelar</a>
                        <input class="boton-enviar" type="submit" name="turno" value="Aceptar">
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
    <footer>
        <div id="atribucion" style="font-size: 12px">2021 - Informatorio - Comisión 3 - Grupo 1 - Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
        </div>
        
    </footer>

</html>
    